{% extends 'base.html' %}

{% block subtitle %}
Home
{% endblock %}

{% block main %}

<section class="home" id="appHome">

    <aside class="post-sidebar">
        <article class="filter">
            <nav class="filter-nav">
                <ul>
                    <li><a class="animated-500ms fadeInUp" v-on:click="tagId = 0" v-bind:class="{selected: tagId == 0}">All</a>
                    </li>
                    {% for tag in tags %}
                    <li><a class="animated-500ms fadeInUp" v-on:click="tagId = {{tag.id}}"
                           v-bind:class="{selected: tagId == {{tag.id}} }">{{tag.title}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </article>
    </aside>

    <div class="post-container">
        {% verbatim %}
        <div class="feed-list">
            <div class="time-line">
                <a>
                    <div class="item">
                        <div class="meta">
                            <div class="publish-time">Now</div>
                        </div>
                        <div class="text-content">
                        </div>
                    </div>
                </a>
                <a v-for="article in articles" v-bind:href="article.link">
                    <div class="item animated-500ms fadeInUp">
                        <div class="title">
                            <h4>{{article.title}}</h4>
                        </div>
                        <div class="meta">
                            <div class="publish-time">{{article.publishTimeDisplay}}</div>
                        </div>
                        <div class="text-content" v-html="article.previewContent">
                        </div>
                        <div class="image-content">
                            <div class="image-item"
                                 v-for="image in article.images"
                                 v-bind:style="{backgroundImage: 'url(' + image.url + ')'}"
                            ></div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        {% endverbatim %}
    </div>

    {% include 'loader.html' %}

    <script type="application/javascript">
        var loadTimestamp = new Date().getTime();
        var oldScrollTop = document.body.scrollTop;
        var movingUp = false;

        window.onscroll = function () {
            if (movingUp) {
                return;
            }
            var htmlHeight = document.documentElement.scrollHeight;
            var clientHeight = document.documentElement.clientHeight;
            var scrollTop = document.body.scrollTop;
            var offset = (htmlHeight - (clientHeight + scrollTop));

            if (scrollTop > oldScrollTop) {
                // pull up
                appFooter.showBackToTop = false;

                if (offset < 10 && (new Date().getTime() - loadTimestamp) > 1500) {
                    loadTimestamp = new Date().getTime();
                    appHome.loadMoreData();
                }
            } else {
                // pull down
                appFooter.showBackToTop = (scrollTop > 100 && offset > 100);

            }
            oldScrollTop = scrollTop;
        };

    </script>

</section>

{% endblock %}