<div class="loader">
    <transition name="custom-classes-transition" enter-active-class="animated-300ms fadeIn"
                leave-active-class="animated-300ms fadeOut">
        <div v-show="loading">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.28 36.88">
                <title>Loading</title>
                <path d="M12.89 0l6.4 6.39-6.45 6.43-1.06-1.06 5.39-5.37-5.34-5.33L12.89 0z"></path>
                <path d="M15.59 36.88a15.62 15.62 0 1 1 .2-31.23v1.5A14.19 14.19 0 0 0 1.46 21.34a14 14 0 0 0 14.14 14 14.19 14.19 0 0 0 14.18-14.29h1.5a15.62 15.62 0 0 1-15.69 15.83z"></path>
                <path d="M15.06 5.66h2.1v1.51h-2.1z"></path>
            </svg>
        </div>
    </transition>
</div>
