{% extends 'base.html' %}

{% block subtitle %}
{{ article.title }}
{% endblock %}

{% block extend_keywords %}
{{ article.title }}
{% endblock %}

{% block main %}

<section class="home" id="appPost">

    <aside class="post-sidebar"></aside>
    <aside class="post-sidebar"></aside>

    <section class="post-list">

        <section class="post-item" v-for="article in articles">
            <article class="post-article">
                <header class="article-header animated-500ms fadeInUp">
                    <section class="article-header-date">{{article.publish_time_display}}</section>
                    <h2 class="article-header-title"><a href="/post/{{article.id}}">{{article.title}}</a></h2>
                    <ul class="article-header-tags">
                        {% for tag in article.tags %}
                        <li><a href="javascript:void(0)">{{tag.title}}</a></li>
                        {% endfor %}
                    </ul>
                </header>
                <section class="article-content animated-500ms fadeInUp">
                    {% autoescape off %}
                    {{article.html_content}}
                    {% endautoescape %}
                </section>
                <footer class="article-footer">
                </footer>

                {% if article.bgm_id %}
                <iframe style="display: none"
                        src="https://music.163.com/outchain/player?type=2&id={{article.bgm_id}}&auto=1&height=32"></iframe>
                {% endif %}
            </article>

        </section>

    </section>

    <script type="application/javascript">
        var oldScrollTop = document.body.scrollTop;
        var movingUp = false;

        window.onscroll = function () {
            if (movingUp) {
                return;
            }
            var htmlHeight = document.documentElement.scrollHeight;
            var clientHeight = document.documentElement.clientHeight;
            var scrollTop = document.body.scrollTop;
            var offset = (htmlHeight - (clientHeight + scrollTop));

            if (scrollTop > oldScrollTop) {
                // pull up
                appFooter.showBackToTop = false;
            } else {
                // pull down
                appFooter.showBackToTop = (scrollTop > 100 && offset > 100);

            }
            oldScrollTop = scrollTop;
        };
    </script>

</section>

{% endblock %}