.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6,
.article-content p,
.article-content blockquote {
    margin: 0;
    padding: 0;
}
.article-content {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #202020;
    background-color: white;
    /*margin: 10px 13px 10px 13px;*/
    cursor: default;
}
.article-content table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.article-content td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
.article-content th {
    padding: 5px 10px;
}

.article-content a {
    color: #0069d6;
}
.article-content a:hover {
    color: #0050a3;
    text-decoration: none;
}
.article-content a img {
    border: none;
}
.article-content img{max-width: 100%;}
.article-content p {
    margin-bottom: 9px;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    color: #404040;
    line-height: 36px;
}
.article-content h1 {
    margin-bottom: 18px;
    font-size: 26px;
}
.article-content h2 {
    font-size: 22px;
}
.article-content h3 {
    font-size: 18px;
}
.article-content h4 {
    font-size: 16px;
}
.article-content h5 {
    font-size: 14px;
}
.article-content h6 {
    font-size: 13px;
}
.article-content hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.article-content blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
.article-content blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
.article-content blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
.article-content code,
.article-content pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
.article-content code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.article-content pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow-x: auto;
}
.article-content pre code {
    background-color: #ffffff;
    color:#404040;
    font-size: 11px;
    padding: 0;
}
.article-content sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
.article-content * {
    -webkit-print-color-adjust: exact;
}